<!DOCTYPE html>
<html>
<head>
  <title>DocdocTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header"><h2>Docdoc test app</h2></div>
  <%= yield %>
<div id="footer"><p>phone: +375 29 xxx-xx-xx</p></div>
</body>
</html>
